.game-row {
  row-gap: 20px; /* Отступ между строками */
}

.game-col {
  margin-bottom: 20px; /* Отступ между карточками */
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px; /* Одинаковая минимальная высота для карточек */
  height: 100%;
}

.game-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card-img {
  height: 200px; /* Фиксированная высота для изображения */
  object-fit: cover;
}
